body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
}
